:root {
  font: 18px/145% var(--main-font, system-ui);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text-main);
  background: var(--bg-deep);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: left;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--main-font);
  background: var(--bg-deep);
  color: var(--text-main);
}
